@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

.text {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 5rem;
  color: #f7a0b8;
}



body {
  background-color: #fae9d7;
}

.judul{
  text-align: center;
  margin-top: 200px;
  font-size: 2rem;
}

h1 {
  text-align: center;
}


.wrapper {
  width: 990px;
  margin: auto;
  margin-top: 200px;
}

/*navigasi*/

.navbar{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0px;
    background:#fae9d7;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    backdrop-filter: blur(10px);
    opacity: 50px;
    border-bottom: 2px solid #f7a0b8;
    position: fixed;
}


.logo img{
    width:200px;
    margin-top: 46px;
    left: -200px;
}

.nav-menu{
    display:flex;
    align-items:center;
    gap:30px;
    list-style:none;
    margin: 120px;
    border: #fff;
}

.nav-menu a{
    text-decoration:none;
    font-size:22px;
    color:#000;
}

.btn-register{
    background:#E89AB7;
    color:#fff;
    padding:20px 40px;
    display:block;
    transition:.3s;
    left: -400px;
}

.btn-register:hover{
    background:#dd85a7;
}


/*button*/
.button {
  width:255px;
  height: 35px;
  background-color: #f7a0b8;
  border: 2px solid #fff;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  align-content: center;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.button a{
    color:#fff;
    text-decoration:none; 
}

.buton::after {
  content: "";
  position: absolute;
  right: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #ffffff ;
}

.button:hover{
  transform: translateY(-8px);
  box-shadow: 0 8px 20px #ffff;
  text-decoration: none;
}


.button-wrap {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  z-index: 2;
  text-decoration: none;
}


/*card*/
.card-wrap {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  margin-top: 100px;
  text-decoration: none;
}
.card {
  width: 200px;
  background: #f7a0b8;
  color: #fff;
  padding: 40px;
  border: 2px solid #fff;
}

.card-inner {
  width: 75px;
  background-color: #fbb6c4;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.number {
  font-size: 50px;
  color: #fff;
}

.title {
  font-size: 30px;
  margin: 0 0 10px 0;
  text-align: left;
}

.desc {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}

/*card start*/
.kupon {
  background: #f7a0b8;
  color: #fff;
  border: 2px solid #fff;
  padding: 24px;
  width: 680px;
  text-align: center;
  margin: 120px;
}

.inner-kupon {
  width: 312px;
  background-color: #fbb6c4;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
  font-size: 1.5rem;
  margin-top: 10px;
}

.inner-kupon a{
  text-decoration: none;
  color: #fff;
}

.title2 {
  font-size: 30px;
  margin: 0 0 10px 0;
  text-align: center;
  text-decoration: none;
}

.inner-kupon::after {
  position: absolute;
  right: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #ffffff ;
}

.inner-kupon:hover{
  transform: translateY(-8px);
  box-shadow: 0 8px 20px #ffff;
  text-decoration: none;
}


/*penjelasan*/
.feature{
    width:990px;
    margin:auto;
    margin-top: 100px;
    padding:80px 0;
}

.feature-item{
    display:flex;
    align-items:center;
    gap:25px;
    margin-bottom:35px;
}

.feature-icon{
    width:50px;
    height:50px;
    background:#fcd5dd;
    display:flex;
    justify-content:center;
    align-items:center;
}

.feature-icon img{
    width:24px;
}

.feature-text h2{
    font-size:20px;
    color:#000000;
    text-align: left;
}

.feature-text p{
    font-size:15px;
    color:#000000;
    text-align: left;
}



/*footer*/

.footer {
  background-color: #f7a0b8;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  border: 2px solid #fff;

}
